

/* This is targeting the main navigation links and styling */
#mainNav a {
    /* removes underline */
    text-decoration: none;
    padding: 3px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /* Same colour as logo  */
    color: #a2ba26;

}

#mainNav {
    /* This margin-top is after facing difficulty whith aligning logo and nav */
    margin-top: 60px;
    
}

#indexDivsImage {
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/index-Background-Image.png');
    opacity: 0.75;
}



#indexImageHeading {
    font-size: 90px;
    color: rgb(245, 245, 245);
   }
#indexImagePhrase {
    font-size: 45px;
    color: whitesmoke;
}
#indexDivsAbout{
    padding: 30px;
    text-align: center;
    background-color: bisque;
}

.product{
    background-color: rgb(128, 128, 128, 0.3);
    transition: background-color 0.3s;
}

.product.selected {
    border: 1px solid black;
}

.product:hover{
    transform: scale(1.1);
    transition: transform 0.3 ease-out;
}
.TitlesRenew{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.TitlesEle{
    border: 2px solid black;
}
.hidden{
    display: none;
}
#activeTxt{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 30px;
}