/* This is for all HTML pages ! */
body {
    /* Background Image Properties */
    /* Image source from https://unsplash.com/photos/brown-wooden-dock-between-lavender-flower-field-near-body-of-water-during-golden-hour-K2s_YE031CA */
    background-image: url('../images/background-image.jpg');
    /* This is to ensure that the picture shrinks with the viewportheight and viewportwidth */
    background-image: 100vh 100vw fit-content;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
#navbar-brand {
    padding: 10px;
    font-size: 20px;
}
/* here I targeted the navbar-brands 2nd child to display none */
#navbar-brand > :nth-child(2){
    display: none;
}
/* Here the newsletter button was styled  */
#newsletterLink{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
    background-color: black;
    margin:4px;
    font-size: 15px;
    color: white;
}
/* This is the hover for the newsletter */
#newsletterLink:hover{
    background-color: #FFFDFA;
    color: black;
    border: black 2px solid ;
}
/* index.html CSS */
#mainDivsContainer {
    background: hsl(0, 0%, 0%, 0.4);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    margin: 0 auto;
    /* targeting all written elements within the container */
    color: #FFFDFA;
    padding: 15px;
}
.indexLogo {
    /* I put height and width 100 so it will shrink with container. */
    height: 100%;
    width: 100%;
}

.aboutUsPara {
    font-size: 25px;
}
#newsLetter {
    font-size: 25px;
    padding: 25px 50px;
}
.nav-link {
    color: #FFFDFA;
}
/* Newsletter Form */
#newsLetterContainer {
    /* I used Display flex and flex wrap to re-align the content when screen gets smaller */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Styling for user form  */
#userForm {
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFDFA;
    color: black;
    width: 320px;
    align-self: flex-end;
}
#userForm input {
    border-radius: 4px;
}
#messageAndBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap-reverse; */
}
#hiddenBtn {
    width: 50%;
    display: none;
}
#greetingMessage {
    font-size: 30px;
}
/*Products page CSS Start*/
.product {
    background-color: rgb(0, 0, 0);
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    transition: transform 0.3s ease;
    font-size: 20px;
    border-radius: 15px;
    color: #FFFDFA;
    cursor: pointer;
}
.paymentFormOne {
    background-color: rgba(84, 165, 51, 0.3);
    height: 347px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 15px;
}
.optionDisplay {
    text-align: center;
    /* Center text content */
}
.paymentFormTwo {
    background-color: rgba(23, 169, 113, 0.3);
    height: 347px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 15px;
}
.prodImg {
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 15px;
}
.product.selected {
    border: 4px solid white;
}
/*Once added to the class list of the products, it will change its style and highlight the selected option.*/
.h3store {
    text-align: center;
}
.product:hover {
    transform: scale(1.1);
}
/*When the mouse is over a an object with this class it will give the effect of popping out.*/
#productsBottom {
    height: 100%;
    color: #FFFDFA;
    font-size: large;
}
.prodCategory {
    margin-bottom: 50px;
}
table {
    text-align: justify;
}
/*Products page CSS End*/
/*Process page CSS Start*/
.processcol {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    font-size: larger;
    color: #FFFDFA;
    padding: 25px;
    text-align: left;
    border-radius: 10px;
}
.processimg {
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 35%;
    width: 85%;
}
/*Process page CSS End*/
/*Renew CSS Start*/
.TitlesRenew {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.TitlesEle {
    cursor: pointer;
    text-decoration: none;
    color: #FFFDFA;
}
.hidden {
    display: none;
}
#activeTxt {
    text-align: justify;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    width: 70%;
    border-radius: 15px;
}
.renewImgLeft{
    float: left;
    margin: 20px;
    border-radius: 15px;
    height: 20%;
    width: 40%;
}
.renewImgRight{
    float: right;
    margin: 20px;
    border-radius: 15px;
    height: 20%;
    width: 40%;
}
/*Renew CSS End*/
/*Game CSS Start*/
.GameScreen {
    
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    width: 80%;
    border-radius: 15px;
}
#GameTxt {
    color: white;
}
#GameOutputImg {
    width: 40%;
    height: 40%;
}
/*Game CSS End*/
/*Site responsiveness*/
@media only screen and (max-width: 1000px) {
    .aboutUsPara,
    #newsLetter,
    #greetingMessage {
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px) {
    #newsLetterContainer {
        justify-content: center;
    }
}
@media only screen and (max-width: 666px) {
    body {
        background-color: rgb(26, 103, 26);
        background-image: none;
    }
    hr{
        display: none;
    }
    .TitlesRenew{
        padding-top: 25px;
    }
    .aboutUsPara,
    #newsLetter,
    #greetingMessage {
        font-size: 17px;
    }
    .product {
        width: 41%;
        height: 320px;
    }
    #newsLetterContainer {
        justify-content: center;
        /* flex-direction: column; */
    }
     #navbar-brand > :nth-child(2) {
        display: block;
}
    #navbar-brand > :nth-child(1) {
        display: none;
    }
    .fixed-top-mobile{
        position: fixed;
        width: 100%;
        margin-bottom: 20px;
        background-color: rgb(26, 103, 26);
        overflow: hidden;
        z-index: 100;
    }
    /* the reason for doing this is to ensure that content is not hidden under the fixed navbar */
    #mainDivsContainer{
        padding-top:60px;
    }
    #navbar-brand {
        padding: 0px 12px;
        font-size: 20px;
    }

}

@media (max-width: 1250px) {
    /* Adjust for smaller screens */
    .product {
        width: 40%;
        height: 350px;
    }
    .prodImg {
        width: 150px;
        height: 150px;
    }

    .processimg {
        height: 100px;
        width: 150px;
    }
}
.whiteText {
    color: #FFFDFA;
}

@media (max-width: 1100px) {
    /* Adjust for smaller screens */
    .prodDesc {
        display: none;
    }
}
@media (max-width: 1100px){
#newsLetterContainer {
    justify-content: center;
}
}