/* This is for all HTML pages ! */
body{
    /* Background Image Properties */
    background-image: url('../images/background-image.jpg');
    background-image: 100vh 100vw fit-content;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


/* index.html CSS */

#indexDivsImage {
    background: hsl(0, 0%, 0%, 0.4);
    align-items: center;
 }
 #indexDivsAbout{
     margin-top: 15px;
   }
.indexLogo{
    height: 100%;
    width:100%;
  }
  .aboutUsPara{
    font-size: 25px;
color: #FFFDFA;
padding-bottom: 20px;
<<<<<<< HEAD
  
/* justify-content: center; */
=======
}
#contact{
    color: #FFFDFA;
    background-color:hsl(0, 0%, 0%, 0.4);
}
.contactInfo{
    
    border: 2px solid #FFFDFA;
    padding: 3px;
    text-align: center;
    margin: auto;
}
 .contactInfo td,tr, th{
    border:2px solid #FFFDFA ;
    padding:3px;
    color: #ba7c1f;

>>>>>>> fbf9d2f567b2c09858b45da281eacbbc238f5e54
}




/*Products page CSS Start*/

.product {
    background-color: rgb(0, 0, 0);
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    transition: transform 0.3s ease;
    font-size: 20px;
    border-radius: 15px;
    color: #FFFDFA; 
}

@media (max-width: 1250px) {
    /* Adjust for smaller screens */
    .product {
        width: 40%;
        height: 350px;
        
    }
    .processimgsbtm {
        width: 150px;
        height: 150px;
    }
    .processimgstop {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1100px) {
    /* Adjust for smaller screens */
    .prodDesc {
        display: none;
    }
}

.prodImg {
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 15px;
}

.product.selected {
    border: 4px solid white;
}
/*Once added to the class list of the products, it will change its style and highlight the selected option.*/

.h3store{
    text-align: center;
}

.product:hover{
    transform: scale(1.1);
}
/*When the mouse is over a an object with this class it will give the effect of popping out.*/

#productsBottom{
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    color: #FFFDFA;
    font-size: large;
    
}

.prodCategory{
    margin-bottom: 50px;
}

.prodPayment{
    border-left: 2px solid black;
}

@media (max-width: 1250px) {
    /* Adjust for smaller screens */
    .prodImg {
        width: 150px;
        height: 150px;
    }
}

table{
    text-align: justify;
}

/*Products page CSS End*/

/*Process page CSS Start*/

.processcol {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 5px;
    font-size: larger;
    color: #FFFDFA;
    padding: 30px;
    text-align: justify;
}

.processimgstop {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
}

.processimgsbtm {
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
}

/*Process page CSS End*/



/*Renew CSS Start*/

.TitlesRenew{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.TitlesEle{
    cursor: pointer;
    text-decoration: none;
    color: #FFFDFA;
}

.hidden{
    display: none;
}

#activeTxt{
    text-align: center;
    padding: 30px;
    background-color: rgba(134, 168, 133, 0.3);
    margin: 60px auto;
    width: 70%;
}

/*Renew CSS End*/

/*Game CSS Start*/
.GameScreen {
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.6);
    margin: 60px auto;
    width: 70%;
}
#GameTxt {
    color: white;
}
/*Game CSS End*/

@media only screen and (max-width: 600px) {
    body {background-color: lightgreen;
        background-image: none;
    }
    .aboutUsPara{
        font-size: 15px;
    }
    .product {
        width: 40%;
        height: 300px;
    }
  }

  .whiteText{
    color: #FFFDFA;
  }
